<div th:fragment="body">
    <h1 th:text="${formAction == '/add-artist' ? 'Add Artist' : 'Edit Artist'}"></h1>
    <form th:action="@{${formAction}}" th:object="${artistDto}" method="post">
        <div class="m-2">
            <label class="display: block" for="name">Artist Name:</label>
            <input type="text" th:field="*{name}" id="name" required>
        </div>

        <div class="m-2">
            <label class="display: block" for="image">Artist Image URL:</label>
            <input type="text" th:field="*{image}" id="image" required>
        </div>

        <div class="d-flex">
            <a href="/artists">Back to Artists</a>
            <button class="btn btn-primary mx-2" type="submit" th:text="${formAction == '/add-artist' ? 'Add Artist' : 'Save Changes'}">
                Save Artist
            </button>
        </div>

    </form>
</div>
