<div th:fragment="body">
    <form method="POST" th:action="@{/album/track/{trackId}(trackId=${trackId})}">
        <div class="m-2">
            <label class="display: block" for="title">Title</label>
            <input type="text" id="title" name="title" th:value="${track?.title}">
        </div>
        <div class="m-2">
            <label class="display: block" for="minutes">Minutes</label>
            <input type="number" id="minutes" name="minutes" th:value="${track?.minutes}">
        </div>
        <div class="m-2">
            <label class="display: block" for="seconds">Seconds</label>
            <input type="number" id="seconds" name="seconds" th:value="${track?.seconds}">
        </div>
        <input type="hidden" name="albumId" th:value="${track?.albumId}">

        <button class="btn btn-primary" type="submit">
            Save Track
        </button>
    </form>
</div>